/* Login.css */

.login-container {
  max-width: 400px;
  margin: 0 auto; /* Center horizontally */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9faf9de;
  
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Adds a subtle shadow */
  width: 70%;
  /* Center the container */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login-container h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.5rem;
}

.login-container form {
  display: flex;
  flex-direction: column;
}

.login-container label {
  margin-bottom: 8px;
}

.login-container input[type="text"],
.login-container input[type="password"] {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  width: 100%;
}

.login-container button {
  background-color: #26aeb8;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
  width: 100%;
}

.login-container button:disabled {
  background-color: #b0c4de; /* Light blue-gray when disabled */
  cursor: not-allowed;
}

.login-container button:hover {
  background-color: #207994;
}

.login-container p {
  text-align: center;
  margin-top: 10px;
}

.login-container p a {
  color: #007bff;
  text-decoration: none;
}

.login-container p a:hover {
  text-decoration: underline;
}

.login-container .error-message {
  color: red;
  margin-top: 10px;
}
